@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800&family=IBM+Plex+Sans+Arabic:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-maladh-bg: #FBF5DD;
  --color-maladh-card: #E7E1B1;
  --color-maladh-primary: #306D29;
  --color-maladh-dark: #0D530E;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
